.header {
  background-color: #be3144;
}

.navbar {
  display: grid;
  grid-template-columns: 1.1fr 1.2fr;
}

.empresaContainer {
  display: flex;
  width: max-content;
}

.logoHeader {
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.logo {
  height: 50px;
  object-fit: cover;
}

.titulo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  font-weight: 700;

  /* -webkit-text-stroke-color: #5B305A;
  -webkit-text-stroke-width: 1.2px; */
  /* shorthand */
  -webkit-text-stroke: .5px #000;
  /* color del texto */
  -webkit-text-fill-color: #BF7D31; /*#f3991b;*/
}

.menu {
  /*Opciones del menú*/
  display: flex;
  margin-left: auto;
}

.menuItems {
  margin-right: 20px;
  list-style: none;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0 1rem;
}

.menuItems:hover {
  background-color: rgba(69, 86, 125, 1);
  transition: 0.3s;
}

@media only screen and (max-width: 600px) {
  .titulo {
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
}
