.header {
  background-color:#be3144;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  height: 80px;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1.7fr; 
  height: 100%;
  margin: 0 6.5rem;
}

.empresaContainer{
  display: flex;
  justify-content: center;
  height: 100%;
}

.logoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 60px;
  object-fit: cover;
}

.titulo {
  /* background-color: pink; */
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 1.2px;
  /* shorthand */
  -webkit-text-stroke: 1.2px #000;
  /* color del texto */
  -webkit-text-fill-color: #f3991b;
}

.menu {
  /*Opciones del menú*/
   display: grid;
   grid-template-columns: repeat(5, 120px);
}

.menuItems {
  line-height: 80px;
  width: 100%;
  list-style: none;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 100;
}

.menuItems:hover {
  background-color: rgba(69, 86, 125, 1);
  transition: 0.3s;
}
