/* ancla */
.linkCard {
  background: #303841;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

/* li */
.libroCard {
  list-style: none;
}

.linkCard:hover{
  opacity: 0.8;
}

.linkCard:hover
.title {
  color: #ff7f50;
}

/* imagen */
.imgGrid {
  background-color: aliceblue;
  width: 100%;
  height: 380px;
  object-fit:cover;
  object-position:top;
}

.titleContainer{
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.title {
  transition: color 0.3s ease-out;
  color: white;
  height: fit-content;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 15px;
  text-align: center;
}
