.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #45567d;    
}

.button_ {
    margin-bottom: 30px;
    display: block;
    width: 250px;
    padding: 0.75rem;
    background-color: #28a745;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.1rem;
}